.header, .hero, .body,.bar{
    margin-bottom: 10px;
    background-color: palevioletred;
}
.row{
    background-color: pink;
}
.box{
    margin: 10px 0;
    min-height: 80px;
    background-color: skyblue;
    border: 5px solid green;
    font-size: 30px;
}
.red{
    background-color: red;
}
.footer{
    background-color: palevioletred;
}